
<div class="mt-5 pt-5 mb-5 "></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <article>
        <div class="mb-4">
          <app-header></app-header>
          <!-- Post meta content-->
          <br>
          <h3 class=" mb-1">{{oPost.titulo}}</h3>
          <div class="text-muted fst-italic mb-2">Posted on {{oPost.fecha | showDateTime}} by Sergio Dung</div>
          <!-- Post categories-->
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{oPost.etiquetas}}</a>

        </div>
        <!-- Preview image figure-->
        <figure class="mb-4"><app-random-img></app-random-img></figure>
        <!-- Post content-->
        <section class="mb-5 pb-5">
          <p class="fs-5 mb-4">{{oPost.cuerpo}}</p>
        </section>
      </article>
      <!-- Comments section-->
      <section class="mb-5">
        <app-comments></app-comments>
      </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pt-5 mt-5">
      <div class="pt-5 "></div>
      <app-side></app-side>
    </div>
  </div>
