<app-menu></app-menu>
<div class="container">
  <div class="mt-5 mb-5 pt-3"></div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-10 mx-auto">

       <app-header></app-header>

        <h4 class="text-muted m-4 text-end ">{{ totalElements }} registros</h4>
        <div class="row my-3">
          
          <div class="col text-start  ">
            <h2> Listado de Posts </h2>
          </div>

          <div class="col-5 mb-3">
            <div class="container ">
              <div class="row searchFilter">
                <div class="col-12">
                  <div class="input-group">
                    <input id="table_filter" [(ngModel)]="matchHtml" (input)="filterOn(matchHtml)" type="text"
                      class="form-control">
                    <div class="custom-radio-button">
                      <button type="button" class="btn btn-dark">Buscar en</button>
                      <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <ul class="category_filters">
                          <li>
                            <label class="custom-radio-button">
                              <input #idR type="radio" name="radios" id="idR" [checked]="check"
                                (change)="onCheck(idR.checked,campos[0])">
                              <span class="helping-el"></span>
                              <span class="label-text">Id</span>
                            </label>
                          </li>
                          <li>
                            <label class="custom-radio-button">
                              <input #tituloR type="radio" name="radios" id="tituloR" [checked]="check"
                                (change)="onCheck(tituloR.checked,campos[1])">
                              <span class="helping-el"></span>
                              <span class="label-text">Título</span>
                            </label>
                          </li>
                          <li>
                            <label class="custom-radio-button">
                              <input #cuerpoR type="radio" name="radios" id="cuerpoR" [checked]="check"
                                (change)="onCheck(cuerpoR.checked,campos[2])"> <span class="helping-el"></span>
                              <span class="label-text">Cuerpo</span>
                            </label>
                          </li>
                          <li>
                            <label class="custom-radio-button">
                              <input #fechaR type="radio" name="radios" id="fechaR" [checked]="check"
                                (change)="onCheck(fechaR.checked,campos[3])"> <span class="helping-el"></span>
                              <span class="label-text">Fecha</span>
                            </label>
                          </li>
                          <li>
                            <label class="custom-radio-button">
                              <input #etiquetasR type="radio" name="radios" id="etiquetasR" [checked]="check"
                                (change)="onCheck(etiquetasR.checked,campos[4])"> <span class="helping-el"></span>
                              <span class="label-text">Etiquetas</span>
                            </label>
                          </li>
                          <div class=dropdown-divider></div>
                          <li>
                            <label class="custom-radio-button">
                              <input #todoR type="radio" name="radios" id="todoR" [checked]="check"
                                (change)="onCheck(todoR.checked,campos[6])"> <span class="helping-el"></span>
                              <span class="label-text">Todo</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          
          <div class="row justify-content-center">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th (click)="orderBut(campos[0],0) ">ID <i [ngClass]="fa[0]" class="i mt-1" aria-hidden="true"></i>
                  </th>
                  <th (click)="orderBut(campos[1],1)">Título <i [ngClass]="fa[1]" class="i mt-1" aria-hidden="true"></i>
                  </th>
                  <th (click)="orderBut(campos[2],2)">Cuerpo<i [ngClass]="fa[2]" class="i mt-1" aria-hidden="true"></i>
                  </th>
                  <th (click)="orderBut(campos[3],3)">Fecha<i [ngClass]="fa[3]" class="i mt-1" aria-hidden="true"></i>
                  </th>
                  <th (click)="orderBut(campos[4],4)">Etiquetas<i [ngClass]="fa[4]" class="i mt-1"
                      aria-hidden="true"></i></th>
                  <th (click)="orderBut(campos[5],5)">Visible<i [ngClass]="fa[5]" class="i mt-1" aria-hidden="true"></i>
                  </th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fila of aPosts">
                  <td>{{ fila.id }}</td>
                  <td>{{ fila.titulo | trim: 10 }}</td>
                  <td>{{ fila.cuerpo | trim: 10 }}</td>
                  <td>{{ fila.fecha | showDateTime }}</td>
                  <td>{{ fila.etiquetas | trim: 10 }}</td>
                  <td style="text-align: center;"><a class="btn btn-light" (click)="updateVis(fila)"><i
                        class=" {{ fila.visible | checking}}"></i></a></td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                      <a class="btn btn-success" [class.active]="strUrl == '/view'"
                        [routerLink]="['/view/', fila.id]"><i class="fas fa-eye"></i></a>
                      <a class="btn btn-info" (click)="modal(fila)"><i class="fas fa-search"></i></a>
                      <a class="btn btn-warning" [class.active]="strUrl == '/update'"
                        [routerLink]="['/update/', fila.id]"><i class="fas fa-pen"></i></a>

                      <a class="btn btn-danger" [class.active]="strUrl == '/danger'"
                        [routerLink]="['/delete/', fila.id]"><i class="fas fa-trash"></i></a>


                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-between">
            <div class="col">
              <nav aria-label="pagination">
                <ul class="pagination">
                  <li class="page-item" aria-current="page" *ngFor="let p of barraPaginacion"
                    [ngClass]="{ active: page + '' == p }">
                    <a class="page-link" (click)="page = +p; getPage()">{{ p }}</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col text-end">
              <div class="dropdown mb-3">
                <button class="bts dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Registros por página: {{ pageSize }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" (click)="pageSize = 10; getPage()">10</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="pageSize = 50; getPage()">50</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="pageSize = 100; getPage()">100</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="pageSize = 1000; getPage()">1000</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<app-footer></app-footer>
