<app-menu></app-menu>
<div class="mt-5 mb-5 pt-3"></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">

      <header class="mb-4">
        <h1 class="fw-bolder mb-1">BlogBuster 2021</h1>
        <br>
        <h3 class=" mb-1">Nuevo Post</h3>
        <!-- Post meta content-->
  

      </header>
      <div class="container">
        <div class="row ">
          <div class="col ">
            <div class="card mt-2 mx-auto  bg-light">
              <div class="card-body bg-light">
                <div class="container">
                  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate class="row g-3">
                    <div class="controls">
                      <div class="row">
                        <div class="col-md-12 pt-3">
                          <div class="form-group"> <label for="form_name">Título</label>
                            <div class="input-group has-validation">
                              <input type="text" formControlName="titulo" id="titulo" class="form-control"
                                placeholder="Inserta un titulo"
                                [class.is-invalid]="postForm.get('titulo')!.dirty && postForm.get('titulo')!.invalid"
                                required>
                              <div class="invalid-feedback"
                                *ngIf="!postForm.get('titulo').errors?.minlength || postForm.get('titulo').dirty">
                                El titulo no puede estar vacio
                              </div>

                            </div>

                            <div class="input-group has-validation">
                              <div class="pt-3 col-md-12">
                                <label for="form_name">Contenido del Post </label>
                                <textarea id="form_message" formControlName="cuerpo" name="message" class="form-control"
                                  placeholder="Escribe aqui lo que quieras" rows="5" required="required"
                                  data-error="El cuerpo esta vacio"></textarea>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 pt-3 form-group">
                          <label for="form_name">Fecha</label>
                          <input type="date" name="date" class="form-control" formControlName="fecha" id="date"  placeholder="Date">
                        </div>
                        <div class="col-md-6 pt-3 form-group">
                          <label for="form_name">Hora</label>
                          <input type="time" class="form-control" formControlName="hora" name="time" id="time" placeholder="Time">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 pt-3 form-group">
                          <label for="form_name">Etiqueta</label>
                          <input type="text" formControlName="etiquetas" id="etiquetas" class="form-control"
                            placeholder="Inserta una etiqueta aqui">
                        </div>
                      </div>
                      <div class="row pt-3">
                        <div class="col-md-6 form-check">
                          <input class="form-check-input" type="checkbox"  value="false" id="check">
                          <label class="form-check-label" for="flexCheckDefault">
                            Visible
                          </label>
                        </div>
                        <div class="col-md-12 pt-5 mx-auto"> <input type="submit"
                            class="btn btn-primary btn-send pt-2 btn-block " value="Send Message"> 
                          </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div> <!-- /.8 -->
          </div> <!-- /.row-->
        </div>
      </div>



    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pt-5 mt-5">
      <div class="pt-5"></div>
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..."
              aria-describedby="button-search" />
            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
          </div>
        </div>
      </div>
      <!-- Categories widget-->
      <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Web Design</a></li>
                <li><a href="#!">HTML</a></li>
                <li><a href="#!">Freebies</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">JavaScript</a></li>
                <li><a href="#!">CSS</a></li>
                <li><a href="#!">Tutorials</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body"><app-clock></app-clock></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
  