<app-menu></app-menu>
<div class="mx-auto">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <article>
        <header class="mb-4">
          <h1 class="fw-bolder mb-1">BlogBuster 2021</h1>
          <!-- Post meta content-->
          <br>
          <h3 class=" mb-1">{{oPost.titulo}}</h3>
          <div class="text-muted fst-italic mb-2">Posted on {{oPost.fecha | showDateTime}} by Sergio Dung</div>
          <!-- Post categories-->
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{oPost.etiquetas}}</a>

        </header>
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
            alt="..." /></figure>
        <!-- Post content-->
        <section class="mb-5">
          <p class="fs-5 mb-4">{{oPost.cuerpo}}</p>
        </section>
      </article>
      <!-- Comments section-->
      
  
  </div>
