/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
footer{

  width: 100%;
}
.jumbotron {
  padding: 5rem 5rem;
  background-image: url("assets/img/main.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 2rem;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(2, 2, 2);
  border-radius: .3rem;
  
}
.pagb{
  background-color: black;
}
.jmb{
  text-align: center;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  text-shadow:  rgb(0, 0, 0);
}
* {

  }
  
  .reloj {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clock {
    height: 10vh;
    color: rgb(0, 0, 0);
    font-size: 11vh;
    font-family: sans-serif;
    line-height: 10.2vh;
    display: flex;
    position: relative;
    /*background: green;*/
    overflow: hidden;
  }
  
  .clock::before, .clock::after {
    content: '';
    width: 7ch;
    height: 3vh;
    
    position: absolute;
    z-index: 2;
  }
  
  .clock::after {
    bottom: 0;
    
  }
  
  .clock > div {
    display: flex;
  }
  
  .tick {
    line-height: 17vh;
  }
  
  .tick-hidden {
    opacity: 0;
  }
 
  
  